:root {
  --primary-100: #590d22;
  --primary-200: #800f2f;
  --primary-300: #a4133c;
  --primary-350: #c9184a;
  --primary-400: #ff4d6d;
  --primary-500: #ff758f;
  --primary-600: #ff8fa3;
  --primary-700: #ffb3c1;
  --primary-800: #ffccd5;
  --primary-900: #fff0f3;
}

body {
  margin: 0;
  overflow-x: hidden !important;
  background-color: #f5f5f5;
  font-feature-settings: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

* {
  box-sizing: border-box;
}

.main-content {
  max-width: 1200px;
  margin-inline: auto;
}

header {
  position: sticky;
  background-color: var(--primary-400);
  height: 60px;
  box-shadow: 0 4px 10px 0px rgb(0 0 0 / 70%);
  text-align: justify;
  text-align-last: justify;
}

header h1 {
  display: inline-block;
  margin: 0;
  padding: 8px;
  padding-left: 36px;
  color: white;
  vertical-align: middle;
}

header nav {
  display: inline-block;
  vertical-align: middle;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  margin: 0 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  padding: 20px 10px;
  display: block;
  line-height: 20px;
}

header nav ul li a:hover {
  text-decoration: underline;
  color: var(--primary-800);
}

header .header-buttons {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  margin-right: 36px;
}

header .header-buttons button {
  background-color: var(--primary-600);
  border-radius: 8px;
  color: white;
  padding: 8px;
  min-width: 36px;
  min-height: 36px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

header .header-buttons button:hover {
  background-color: var(--primary-700);
}


.content {
  margin-bottom: 30px;
}


.hero-content {
  width: 100%;
  height: 600px;
  max-height: 80vh;
  background-image: url('https://www.kikkoman.fi/fileadmin/_processed_/4/2/csm_sushi-kakkoii_2c56fe3133.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0 0 16px 16px;
}


.about-content {
  position: relative;
  width: 100%;
  padding: 32px;
  margin-top: 100px;
  background-color: var(--primary-800);
  background-image: url('../images/bg-item.png');
  background-size: 100px;
  background-position: right bottom;
  background-repeat: repeat;
  background-blend-mode: overlay;
}

/* Clearfix for .about-content */
.about-content::after {
  content: "";
  display: table;
  clear: both;
}


.about-content .absolute-icon {
  position: absolute;
  top: -40px;
  right: 30px;
  width: 100px;
  height: 100px;
}

.about-content img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  /* display: inline-block; */
  float: left;
  border-radius: 16px;
}

.about-content .info {
  float: right;
  /* margin-left: 32px; */
  vertical-align: top;
  max-width: calc(100% - 330px);
}

.about-content .info h3:nth-child(2) {
  color: rgb(46, 46, 46);
}


.about-content .info p {
  color: rgb(78, 78, 78);
  font-size: 0.9em;
  font-weight: 600;
}


footer {
  background-color: var(--primary-100);
  width: 100%;
  height: 60px;
}

footer p {
  color: white;
  text-align: center;
  margin: auto;
  padding-block: 16px;
}


.user-login-dialog {
  border: none;
  width: 300px;
  background-color: white;
  border-radius: 16px;
}

.user-login-dialog .close-user-login-dialog-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--primary-900);
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
}

.user-login-dialog .close-user-login-dialog-button:hover {
  background-color: var(--primary-800);
}


.user-login-dialog > h2 {
  margin-bottom: 8px;
}

.user-login-dialog form > input {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 4px;
  border-radius: 8px;
  border: 1px solid var(--primary-900);
}

.user-login-dialog form > input:focus {
  outline: none;
  border: 1px solid var(--primary-800);
}

.user-login-dialog form > input:hover {
  border: 1px solid var(--primary-800);
}

.user-login-dialog form > input:invalid {
  border: 1px solid red;
}

.user-login-dialog form > input:valid {
  border: 1px solid lightgreen;
}

.user-login-dialog .user-login-dialog-buttons {
  margin-top: 16px;
}

.user-login-dialog .user-login-dialog-buttons > button {
  border-radius: 4px;
  background-color: var(--primary-900);
  padding: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.user-login-dialog .user-login-dialog-buttons > button:hover {
  background-color: var(--primary-800);
}


@media (max-width: 768px) {
  header {
    height: auto;
    padding-bottom: 16px;
    padding-inline: 16px;
  }

  header h1 {
    padding-inline: 0;
  }

  header nav {
    display: block;
    margin-bottom: 8px;
  }

  header nav ul li {
    display: block;
    margin-left: 0;
  }

  header nav ul li a {
    padding: 4px 0;

  }


  .hero-content {
    height: auto;
    aspect-ratio: 16/9;
  }

  .about-content {
    padding: 16px;
  }

  .about-content .absolute-icon {
    width: 64px;
    height: 64px;
  }

  .about-content img {
    float: none;
    width: 100%;
    height: auto;
  }

  .about-content .info {
    float: none;
    margin-left: 0;
    margin-top: 8px;
    max-width: 100%;
  }

}
