:root {
  --primary-300: #575757;
  --primary-400: #707070;
}

body {
  margin: 0;
  overflow-x: hidden !important;
  background-color: #f5f5f5;
  font-feature-settings: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

* {
  box-sizing: border-box;
}

button {
  background: #575757;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.1s;
}

button:hover {
  background: #707070;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #707070;
  color: white;
  border: none;
  padding: 4px 4px 0px;
}

#app {
  background: white;
  min-height: 400px;
}

#map {
  width: 100%;
  height: 500px;
  border-radius: 8px;
}

.map-container {
  padding: 20px;
}

.popup-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.restaurant-info-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.restaurant-info-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 90vh;
  overflow-y: auto;
}


.custom-marker {
  background-color: #3540dc;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.nearest-marker {
  background-color: #28a745;
}
